set -e
# use `nvm install 16` and set up direnv to easily work on cadence-docs.
# nvm does not need to be sourced to use this, just source it to install node.
export NODE_VERSIONS=~/.nvm/versions/node
export NODE_VERSION_PREFIX='v'
use node # reads .node-version, keep in sync with package.json
