set -e
# use `nvm install` and set up direnv to easily work on cadence-docs.
# nvm does not need to be sourced to use this, just source it to install node.
export NODE_VERSIONS=~/.nvm/versions/node
export NODE_VERSION_PREFIX='v'
export NODE_OPTIONS=--openssl-legacy-provider
use node # reads .node-version, keep in sync with package.json

# Custom env values go into .envrc.local
if [ -f .envrc.local ]; then
  echo "loading .envrc.local"
  source_env .envrc.local
fi

