.DS_Store
cypress/fixtures
cypress/plugins
cypress/support
cypress/videos
dist
node_modules
npm-debug.log
# package-lock file is required for cypress github action to work.
# See https://github.com/marketplace/actions/cypress-io#installation for more information.
package-lock.json
yarn-error.log
