@require '../../../shared/styles';

#vuepress-theme-blog__global-layout {
  .content-wrapper {
    padding-top: 100px;
  }

  .footer {
    background-color: #191d2e;
    padding: 1.5rem;

    .footer-left-wrap {
      display: none;
    }

    .footer-right-wrap {
      justify-content: center;

      .copyright .copyright-item {
        color: #fff;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
