/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

#vuepress-theme-blog__global-layout {
  .header-wrapper .header-right-wrap {
    justify-content: flex-start;
  }

  .search-box {
    display: none;
  }

  .feed {
    display: none;
  }

  .footer {
    display: none;
  }

  .nav-link:before {
    content: "";
    background-image: url(/img/logo-black.svg);
    width: 200px;
    height: 200px;
  }
}
